@page
@model IndexModel
@{
    ViewData["Title"] = "Список пиццы плитками";
}

<div class="grid-list">

    <!--Шаблон карточки-->
    <div class="card">
        <div class="card-image">
            <img src="https://cagliari-pizza.ru/images/dishes/xxxl.jpg" />
        </div>
        <div class="card-name">
            <p>XXXL</p>
        </div>
        <div class="card-description">
            <article>
                Сыр моцарелла, Соус "1000 островов", 
                Куриный рулет, Ветчина, Колбаски охотничьи,
                Орегано, Бекон, Сервелат, Огурцы 
                маринованные, 
                <label class="products"><input type="checkbox" checked/><span>Томаты черри</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Лук маринованный</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Маслины</span></label>
            </article>
        </div>
        <div class="card-row">
            <div class="selection items-3">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="1" />
                    <span class="selection-label-display">30 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="1" />
                    <span class="selection-label-display">40 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="1" />
                    <span class="selection-label-display">60 см</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="selection items-2">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="2" />
                    <span class="selection-label-display">Традиционное</span>
                </label class="selection-label">
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="2" />
                    <span class="selection-label-display">Толстое</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="card-price-and-part">
                <div class="column">
                    <span class="price">690₽</span>
                </div>
                <div class="column">
                    <span class="mass">1440гр</span>
                </div>
                <div class="column">
                    <label class="toggler">
                        <input type="checkbox" />
                        <span class="display-checked">1/2</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card-row">
            <div class="card-in-order">
                <button>В корзину</button> 
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="https://cagliari-pizza.ru/images/dishes/4_vkusa.jpg" />
        </div>
        <div class="card-name">
            <p>4 вкуса</p>
        </div>
        <div class="card-description">
            <article>
                Сыр моцарелла, Соус "1000 островов", 
                Куриный рулет, Ветчина, Колбаски охотничьи,
                Орегано, Бекон, Сервелат, Огурцы 
                маринованные, 
                <label class="products"><input type="checkbox" checked/><span>Томаты черри</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Лук маринованный</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Маслины</span></label>
            </article>
        </div>
        <div class="card-row">
            <div class="selection items-3">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="3" />
                    <span class="selection-label-display">30 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="3" />
                    <span class="selection-label-display">40 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="3" />
                    <span class="selection-label-display">60 см</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            
        </div>
        <div class="card-row">
            <div class="card-price-and-part">
                <div class="column">
                    <span class="price">690₽</span>
                </div>
                <div class="column">
                    <span class="mass">1440гр</span>
                </div>
                <div class="column">
                    <label class="toggler">
                        <input type="checkbox" />
                        <span class="display-checked">1/2</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card-row">
            <div class="card-in-order">
                <button>В корзину</button> 
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="https://cagliari-pizza.ru/images/dishes/amazonka.jpg" />
        </div>
        <div class="card-name">
            <p>Амазонка</p>
        </div>
        <div class="card-description">
            <article>
                Сыр моцарелла, Соус "1000 островов", 
                Куриный рулет, Ветчина, Колбаски охотничьи,
                Орегано, Бекон, Сервелат, Огурцы 
                маринованные, 
                <label class="products"><input type="checkbox" checked/><span>Томаты черри</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Лук маринованный</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Маслины</span></label>
            </article>
        </div>
        <div class="card-row">
            <div class="selection items-3">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="5" />
                    <span class="selection-label-display">30 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="5" />
                    <span class="selection-label-display">40 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="5" />
                    <span class="selection-label-display">60 см</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="selection items-2">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="6" />
                    <span class="selection-label-display">Традиционное</span>
                </label class="selection-label">
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="6" />
                    <span class="selection-label-display">Толстое</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="card-price-and-part">
                <div class="column">
                    <span class="price">690₽</span>
                </div>
                <div class="column">
                    <span class="mass">1440гр</span>
                </div>
                <div class="column">
                    <label class="toggler">
                        <input type="checkbox" />
                        <span class="display-checked">1/2</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card-row">
            <div class="card-in-order">
                <button>В корзину</button> 
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="https://cagliari-pizza.ru/images/dishes/bananzza.jpg" />
        </div>
        <div class="card-name">
            <p>БананZZа</p>
        </div>
        <div class="card-description">
            <article>
                Сыр моцарелла, Соус "1000 островов", 
                Куриный рулет, Ветчина, Колбаски охотничьи,
                Орегано, Бекон, Сервелат, Огурцы 
                маринованные, 
                <label class="products"><input type="checkbox" checked/><span>Томаты черри</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Лук маринованный</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Маслины</span></label>
            </article>
        </div>
        <div class="card-row">
            <div class="selection items-3">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="7" />
                    <span class="selection-label-display">30 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="7" />
                    <span class="selection-label-display">40 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="7" />
                    <span class="selection-label-display">60 см</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            
        </div>
        <div class="card-row">
            <div class="card-price-and-part">
                <div class="column">
                    <span class="price">690₽</span>
                </div>
                <div class="column">
                    <span class="mass">1440гр</span>
                </div>
                <div class="column">
                    <label class="toggler">
                        <input type="checkbox" />
                        <span class="display-checked">1/2</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card-row">
            <div class="card-in-order">
                <button>В корзину</button> 
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="https://cagliari-pizza.ru/images/dishes/barbeq.jpg" />
        </div>
        <div class="card-name">
            <p>Барбекю</p>
        </div>
        <div class="card-description">
            <article>
                Соус "Томатный", Сыр моцарелла, Ветчина, Бекон, Пепперони, Соус "Барбекю", Орегано,
                <label class="products"><input type="checkbox" checked/><span>Томаты</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Перец болгарский</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Лук маринованный</span></label>
            </article>
        </div>
        <div class="card-row">
            <div class="selection items-3">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="9" />
                    <span class="selection-label-display">30 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="9" />
                    <span class="selection-label-display">40 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="9" />
                    <span class="selection-label-display">60 см</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="selection items-2">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="10" />
                    <span class="selection-label-display">Традиционное</span>
                </label class="selection-label">
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="10" />
                    <span class="selection-label-display">Толстое</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="card-price-and-part">
                <div class="column">
                    <span class="price">690₽</span>
                </div>
                <div class="column">
                    <span class="mass">1440гр</span>
                </div>
                <div class="column">
                    <label class="toggler">
                        <input type="checkbox" />
                        <span class="display-checked">1/2</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card-row">
            <div class="card-in-order">
                <button>В корзину</button> 
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="https://cagliari-pizza.ru/images/dishes/barbeq.jpg" />
        </div>
        <div class="card-name">
            <p>Барбекю</p>
        </div>
        <div class="card-description">
            <article>
                Соус "Томатный", Сыр моцарелла, Ветчина, Бекон, Пепперони, Соус "Барбекю", Орегано,
                <label class="products"><input type="checkbox" checked/><span>Томаты</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Перец болгарский</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Лук маринованный</span></label>
            </article>
        </div>
        <div class="card-row">
            <div class="selection items-3">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="11" />
                    <span class="selection-label-display">30 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="11" />
                    <span class="selection-label-display">40 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="11" />
                    <span class="selection-label-display">60 см</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="selection items-2">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="12" />
                    <span class="selection-label-display">Традиционное</span>
                </label class="selection-label">
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="12" />
                    <span class="selection-label-display">Толстое</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="card-price-and-part">
                <div class="column">
                    <span class="price">690₽</span>
                </div>
                <div class="column">
                    <span class="mass">1440гр</span>
                </div>
                <div class="column">
                    <label class="toggler">
                        <input type="checkbox" />
                        <span class="display-checked">1/2</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card-row">
            <div class="card-in-order">
                <button>В корзину</button> 
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="https://cagliari-pizza.ru/images/dishes/barbeq.jpg" />
        </div>
        <div class="card-name">
            <p>Барбекю</p>
        </div>
        <div class="card-description">
            <article>
                Соус "Томатный", Сыр моцарелла, Ветчина, Бекон, Пепперони, Соус "Барбекю", Орегано,
                <label class="products"><input type="checkbox" checked/><span>Томаты</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Перец болгарский</span></label>,
                <label class="products"><input type="checkbox" checked/><span>Лук маринованный</span></label>
            </article>
        </div>
        <div class="card-row">
            <div class="selection items-3">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="13" />
                    <span class="selection-label-display">30 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="13" />
                    <span class="selection-label-display">40 см</span>
                </label>
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="13" />
                    <span class="selection-label-display">60 см</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="selection items-2">
                <label class="selection-label">
                    <input checked class="selection-label-radio" type="radio" name="14" />
                    <span class="selection-label-display">Традиционное</span>
                </label class="selection-label">
                <label class="selection-label">
                    <input class="selection-label-radio" type="radio" name="14" />
                    <span class="selection-label-display">Толстое</span>
                </label>
            </div>
        </div>
        <div class="card-row">
            <div class="card-price-and-part">
                <div class="column">
                    <span class="price">690₽</span>
                </div>
                <div class="column">
                    <span class="mass">1440гр</span>
                </div>
                <div class="column">
                    <label class="toggler">
                        <input type="checkbox" />
                        <span class="display-checked">1/2</span>
                    </label>
                </div>
            </div>
        </div>
        
        <div class="card-row">
            <div class="card-in-order">
                <button>В корзину</button> 
            </div>
        </div>
    </div>
</div>